body{
    background-color: rgb(87, 8, 87);
    width:100%;
    text-align: center;
}

.website-header{
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 50px;
}

.articles-list{
    display: grid;
    grid-template-columns: auto;
}

/*Article Cards*/
.article-card{
    margin-bottom: 5%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    background-color: rgb(160, 45, 255);
    object-fit:scale-down;
}

.article-card-title{
    text-align: center;
    overflow-wrap: break-word;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}